header .navbar {
  background-color: #000 !important;
}

header .navbar .nav-link {
  color: #fff !important;
}

header .navbar .nav-link:hover,
header .navbar .nav-link:focus {
  color: #ffc107 !important;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 00;
}
body {
  min-height: 100vh;
}
.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 60vh;
  min-height: 60vh;
}
.carousel-item img {
  object-fit: contain;
  width: 100vw;
  height: 70%;
  max-height: 50vh;
}
